body{
	font-family: Arial, "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.accordionMenu {
	width: 95%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	background-size: #fff;
	border: 1px solid #ccc;
	border-top: none; 
}
.accordionMenu h2 {
	position: relative;
	margin: 0;
	padding: 0;
}
.accordionMenu h2 i {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #888;
	border-radius: 100%; 
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
}
.accordionMenu h2 .fa-plus{
	display: block;
}
.accordionMenu h2 .fa-minus{
	display: none;
}
.accordionMenu :target h2 .fa-plus{ 
	display: none;
}
.accordionMenu :target h2 .fa-minus{ 
	display: block;
}

.accordionMenu h2 a { 
	background: #efefef;
	background: -moz-linear-gradient(top, #fff, #efefef);
	background: -webkit-gradinet(linear, left top,left bottom, from(#fff),to(#efefef));
	background: -webkit-linear-gradient(top, #fff, #efefef);
	background: -o-linear-gradient(top, #fff, #efefef);
	background: linear-gradient(top, #fff, #efefef);
	border-radius: 3px 3px 0 0;
	border: 1px solid #ccc;
	border-left: none; 
	border-right: none; 
	border-bottom: none; 
	color: #424242;
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding: 10px 10px 10px 40px;
	text-decoration: none;
}

.accordionMenu p {
	overflow: hidden;
	height: 0;
	margin: 0;
	padding: 0 10px;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.5em;
	color: #444;
}

.accordionMenu p span{
	font-weight: lighter;
	color: #888;
}

.accordionMenu :target p {
	overflow: hidden;
	height: 140px;
	-webkit-transition: height 0.3s ease-in;
	-moz-transition: height 0.3s ease-in;
	-o-transition: height 0.3s ease-in;
	transition: height 0.3s ease-in;
}